<!DOCTYPE html>
<html>
    <head>
        <title>{% block full_title %}{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ site.url }}/css/style.css?v=1" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ site.url }}/components/highlightjs/styles/github.css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="mainContent container stack-nav">
            <ul class="nav nav-pills">
                <li {% if page.nav_name == "" %} class="active" {% endif %}>
                    <a href="{{ site.url }}/">Stack</a>
                </li>
                <li {% if page.nav_name == "toolbox" %} class="active" {% endif %}>
                    <a href="{{ site.url }}/toolbox/">Toolbox</a>
                </li>
                <li {% if page.nav_name == "specs" %} class="active" {% endif %}>
                    <a href="{{ site.url }}/specs/">Conventions and Protocols</a>
                </li>
                <li {% if page.nav_name == "middlewares" %} class="active" {% endif %}>
                    <a href="{{ site.url }}/middlewares/">Community Middlewares</a>
                </li>
            </ul>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav" style="margin: 0 auto;">


                </ul>
            </div>
        </div>

        {% if page.is_homepage %}
            <div class="jumbotron masthead {% if page.is_homepage %}huge{% endif %}">
                <h1><a href="{{ site.url }}/">Stack</a></h1>
                <p class="tagline">Composing <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpKernelInterface.php">HttpKernelInterface</a> middlewares since 2013!</p>
                <p>
                    <ul class="nav nav-pills" style="display: inline-block;">
                        <li>
                            <a href="https://github.com/stackphp"><i class="icon-github"></i> stackphp</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/stackphp"><i class="icon-twitter"></i> @stackphp</a>
                        </li>
                        <li>
                            <a href="irc://irc.freenode.net/%23stackphp"><i class="icon-comment"></i> #stackphp</a>
                        </li>
                    </ul>
                </p>
            </div>
        {% endif %}

        <div class="mainContent container">
            <div class="row-fluid">
                {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
            </div>
        </div>

        <footer class="authors container">
            {% block footer %}
                <p>
                    <ul class="nav nav-pills" style="display: inline-block; font-size: 1.2em;">
                        <li>
                            <a href="https://github.com/stackphp"><i class="icon-github"></i> stackphp</a>
                        </li>
                        <li>
                            <a href="https://twitter.com/stackphp"><i class="icon-twitter"></i> @stackphp</a>
                        </li>
                        <li>
                            <a href="irc://irc.freenode.net/%23stackphp"><i class="icon-comment"></i> #stackphp</a>
                        </li>
                    </ul>
                </p>
            {% endblock %}
        </footer>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ site.url }}/components/jquery/jquery.min.js"><\/script>')</script>
        <script src="{{ site.url }}/components/bootstrap/js/bootstrap.min.js"></script>
        {% block scripts %}
        {% endblock %}

        {% if site.google_analytics_tracking_id %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '{{ site.google_analytics_tracking_id }}']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
        {% endif %}
        <script src="{{ site.url }}/components/highlightjs/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
