---
layout: default
nav_name: home
---
{% block full_title %}{{ site.title }} &mdash; {{ site.subtitle }}{% endblock %}
{% block content %}

<hr>

<div class="about text">
    <h2>A common layer</h2>
    <p>
        What do we want? Re-use at the web layer!
    </p>
    <p>
        Superglobals and side-effecting output mechanisms of PHP make this challenging and force every framework to re-invent.
    </p>
    <p>
        But Symfony's HttpKernelInterface provides a solid interface, which makes creating and sharing framework-agnostic HTTP filters a breeze!
    </p>
</div>

<hr>

<div class="about text">
    <h2>HttpKernel</h2>
    <p>
        The <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpKernelInterface.php">HttpKernelInterface</a> models web request and response as PHP objects, giving them value semantics.
    </p>
    <figure>
        <img src="{{ site.url }}/img/kernel.png" alt="HttpKernel">
    </figure>
</div>

<hr>

<div class="about text">
    <h2>What is Stack?</h2>
    <p>
        Stack is a convention for composing HttpKernelInterface middlewares.
    </p>
    <figure>
        <img src="{{ site.url }}/img/onion.png" alt="Kernel Onion">
    </figure>
    <p>
        By wrapping your application in decorators you can add new behaviour from the outside.
    </p>
</div>

<hr>

<div class="frameworks">
    <h2 class="text-center">Supported frameworks</h2>

    {% spaceless %}
    <ul class="frameworks-logo-list clearfix">
        <li><a href="http://symfony.com/"><img src="{{site.url}}/img/users/symfony.png" alt="Symfony 2" /></a></li>
        <li><a href="http://silex.sensiolabs.org/"><img src="{{site.url}}/img/users/silex.png" alt="Silex" /></a></li>
        <li><a href="http://laravel.com/"><img src="{{site.url}}/img/users/laravel.png" alt="Laravel 4" /></a></li>
        <li><a href="https://drupal.org/"><img src="{{site.url}}/img/users/drupal.png" alt="Drupal8" /></a></li>
        <li><a href="http://ez.no/"><img src="{{site.url}}/img/users/ez-publish.png" alt="eZ Publish 5" /></a></li>
        <li><a href="http://yolophp.com/"><img src="{{site.url}}/img/users/yolo.png" alt="Yolo" /></a></li>
    </ul>
    {% endspaceless %}

    <p class="text-center"><a href="http://symfony.com/components/HttpKernel">See the full list on symfony.com</a></p>
</div>

<hr>

<div class="middleware text">
    <h2>Conventions</h2>
    <p>
        A stack middleware is just an object that follows these <strong>conventions</strong>:
    </p>
    <ol class="conventions inline clearfix">
        <li class="span4 clearfix"><div class="no">1</div> Implement the <strong>HttpKernelInterface</strong></li>
        <li class="span4 clearfix"><div class="no">2</div> Take the <strong>decorated app</strong> as the first constructor argument</li>
        <li class="span4 clearfix"><div class="no">3</div> Decorate the handle call, <strong>delegate</strong> to the decorated app</li>
    </ol>

    <p>
        Yes, leveraging the HTTP interface is that easy!
    </p>
</div>
{% endblock %}
{% block footer %}
    <p class="lead">Brought to you by</p>
    <ul class="avatars">
        <li>
            <a href="https://twitter.com/igorwesome">
                <img class="img-circle" src="{{ site.url }}/img/igorwesome.jpeg">
                @igorwesome
            </a>
        </li>
        <li>
            <a href="https://twitter.com/beausimensen">
                <img class="img-circle" src="{{ site.url }}/img/beausimensen.png">
                @beausimensen
            </a>
        </li>
        <li>
            <a href="https://twitter.com/hochchristoph">
                <img class="img-circle" src="{{ site.url }}/img/hochchristoph.jpg">
                @hochchristoph
            </a>
        </li>
    </ul>
{% endblock %}
