---
layout: default
---
{% block full_title %}{{ site.title }} &mdash; {{ site.subtitle }}{% endblock %}
{% block content %}
<div class="jumbotron masthead">
    <h1>Stack</h1>
    <p class="tagline">Composing <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpKernelInterface.php">HttpKernelInterface</a> middlewares since 2013!</p>
    <p>
        <ul class="nav nav-pills" style="display: inline-block;">
            <li>
                <a href="https://github.com/stackphp"><i class="icon-github"></i> stackphp</a>
            </li>
            <li>
                <a href="https://twitter.com/stackphp"><i class="icon-twitter"></i> @stackphp</a>
            </li>
        </ul>
    </p>
</div>

<hr>

<div class="why">
    <h2>Why?</h2>
    <p>
        Right now there is no easy way to re-use HTTP-specific code in PHP. Accessing superglobals and emitting headers and data as side effects is messy and unpredictable. While frameworks are becoming more decoupled, they still have their own implementation of anything that touches HTTP.
    </p>
    <p>
        We want to fix this.
    </p>
    <p>
        What worked for the Ruby world with <a href="http://rack.github.io/">Rack</a> (similar interfaces exist for Java, Python, Perl and others) can work for PHP with Stack.
    </p>
</div>

<hr>

<div class="about">
    <h2>What is Stack?</h2>
    <p>
        Stack is a convention for composing <a href="https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpKernel/HttpKernelInterface.php">HttpKernelInterface</a> middlewares. Any framework based on Symfony2's HttpKernelInterface can use these middlewares. They allow an application to be extended in a generic way, simply by wrapping objects around the kernel.
    </p>
</div>

<hr>

<div class="frameworks">
    <h2>Which frameworks support Stack?</h2>
    <p>
        The following frameworks and apps are using the HttpKernelInterface abstraction and can thus benefit from Stack:
    </p>
    <ul>
        <li><a href="http://symfony.com/">Symfony2</a></li>
        <li><a href="http://silex.sensiolabs.org/">Silex</a></li>
        <li><a href="http://laravel.com/">Laravel4</a></li>
        <li><a href="https://drupal.org/">Drupal8</a></li>
        <li><a href="http://ez.no/">eZ Publish 5</a></li>
        <li><a href="http://yolophp.com/">YOLO</a></li>
        <li>Your own?</li>
    </ul>
    <p>
        As more frameworks and apps join in, more re-use will be possible.
    </p>
</div>

<hr>

<div class="middleware">
    <h2>Conventions</h2>
    <p>
        A stack middleware is just an object that follows these conventions:
    </p>
    <ul>
        <li>Implement the <code>HttpKernelInterface</code></li>
        <li>Take the decorated app as the first constructor argument</li>
        <li>Decorate the handle call, delegate to the decorated app</li>
    </ul>

    <p>
        Yes, leveraging the HTTP abstraction is that easy!
    </p>
</div>

<hr>

<div class="toolbox">
    <h2>The Toolbox</h2>
    <div class="row-fluid">
        <div class="tool well well-small span6">
            <h3>Builder <i class="icon-wrench pull-right"></i></h3>
            <p>Builder constructs a nested <code>HttpKernelInterface</code> decorator tree. It models it as a stack of middlewares.</p>
            <p><a class="btn" href="https://github.com/stackphp/builder">Learn More</a></p>
        </div>
        <div class="tool well well-small span6">
            <h3>Session <i class="icon-eye-open pull-right"></i></h3>
            <p>Provides a request session for subsequent middlewares. Based on the <a href="http://silex.sensiolabs.org/">Silex</a> <a href="http://silex.sensiolabs.org/doc/providers/session.html">SessionServiceProvider</a>.</p>
            <p><a class="btn" href="https://github.com/stackphp/session">Learn More</a></p>
        </div>
    </div>
    <div class="row-fluid">
        <div class="tool well well-small span6">
            <h3>URL Map <i class="icon-map-marker pull-right"></i></h3>
            <p>Provides the ability to map paths to specific <code>HttpKernelInterface</code> applications and dispatches accordingly.</p>
            <p><a class="btn" href="https://github.com/stackphp/url-map">Learn More</a></p>
        </div>
        <div class="tool well well-small span6">
            <h3>OAuth <i class="icon-lock pull-right"></i></h3>
            <p>Provides experimental OAuth authentication for subsequent middlewares. Leverages <a href="https://github.com/Lusitanian/PHPoAuthLib">PHPoAuthLib</a>.</p>
            <p><a class="btn" href="https://github.com/stackphp/oauth">Learn More</a></p>
        </div>
    </div>
</div>

<hr>

<div class="examples">
    <h2>How do I use it?</h2>
    <pre><code class="php">use Symfony\Component\HttpFoundation\Request;
use Symfony\Component\HttpKernel\HttpCache\Store;

// This can be **any** HttpKernelInterface based application
$app = new Silex\Application();
$app->get('/', function () {
    return 'Hello World!';
});

// Extend the behaviour of the application with some middlewares
$stack = (new Stack\Builder())
    ->push('Stack\Session')
    ->push('Symfony\Component\HttpKernel\HttpCache\HttpCache', new Store(__DIR__.'/cache'));
$app = $stack->resolve($app);

// Front controller is business as usual
$request = Request::createFromGlobals();
$response = $app->handle($request)->send();
$app->terminate($request, $response);</code></pre>
</div>

<footer class="authors container">
    <p class="lead">Brought to you by</p>
    <ul class="avatars">
        <li>
            <a href="https://twitter.com/igorwesome">
                <img class="img-circle" src="{{ site.url }}/img/igorwesome.jpeg">
                @igorwesome
            </a>
        </li>
        <li>
            <a href="https://twitter.com/beausimensen">
                <img class="img-circle" src="{{ site.url }}/img/beausimensen.png">
                @beausimensen
            </a>
        </li>
        <li>
            <a href="https://twitter.com/hochchristoph">
                <img class="img-circle" src="{{ site.url }}/img/hochchristoph.jpg">
                @hochchristoph
            </a>
        </li>
    </ul>
</footer>
{% endblock %}
